<div style="position: relative; top: 80px;">
<div class="about-section">
    <h1>About Us</h1>
    <p>Vibez Media is a global marketplace exhibit portrait photographs</p>
    <p>For artists and creators to sell and buy royalty-free image</p>
  </div>
  <div style="margin-left: 30px;margin-right: 30px;">
  <h2 style="text-align:center">Our Team</h2>
  <div class="row" style="align-items: center; justify-self: center;">
    <div class="column">
      <div class="card">
        <img src="assets/avatar.png" alt="Jane" style="width:100%">
        <div class="container">
          <h2>Chakrapani Damodar</h2>
          <p class="title">CEO & Founder</p>
          
          <p>jane@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/avatar.png" alt="Mike" style="width:100%">
        <div class="container">
          <h2>Chandra Boss</h2>
          <p class="title">Art Director</p>
          
          <p>mike@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  
    <div class="column">
      <div class="card">
        <img src="assets/avatar.png" alt="John" style="width:100%">
        <div class="container">
          <h2>Riya Francis</h2>
          <p class="title">Designer</p>
          
          <p>john@example.com</p>
          <p><button class="button">Contact</button></p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>