   <img src="assets/wall.png" />
   
   <div class="container1">
      <img class="container__image1" src="assets/f1.png"/>
      <div class="container__text1">
        <h4>Buy Photos Online</h4>
        <p>Explore our extensive library of photos. Choose the right one from the millions of expressions. Royalty-free photos for your creative projects </p>
        
      </div>
    </div>
    <div class="container2">
      <img class="container__image2" src="assets/f2.png"/>
      <div class="container__text2">
        <h4>Sell Your Photos Online</h4>
        <p>We gives millions of customers access to your work. See your content around the world, Contribute to VibezMedia and make money doing what you love.</p>
        
      </div>
    </div>
    <div class="container3">
      <img class="container__image3" src="assets/f3.jpg"/>
      <div class="container__text3">
        <h4>Exhibit Your Photos Online</h4>
        <p>Showcase your work and grow your skills. Attract clients with a portrait photography that highlights exactly who you are as a portrait photographer.</p>
        
      </div>
    </div>
    


